@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.d-card {
    width: 100%;
    height: 56px;
    border-radius: 16px;
    border-bottom: 1px;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #FFFFFF;
}

.d-card-data {
    display: flex;
    justify-content: center;
    /* column-gap: 40rem; */
}

.img-preview {
    width: 528px !important;
    height: 240px !important;
    border-radius: 10px !important;
    padding: 24px 24px 24px 24px !important;
}


.contact-event {

    border-radius: 12px;
    padding: 14px 24px;
}

.Event-side {
    display: flex;
    justify-content: flex-end;
    column-gap: 1rem;
}

.filter-event-btn{
    width: 119px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    padding: 8px 24px 8px 24px;
    filter: drop-shadow(0px 8px 20px #EA520229);
    background: #FFF1EA !important;
    box-shadow: inset 4px 4px 12px 0px #00000040;
}
.List-event-view{
    width: 150px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    padding: 8px 24px 8px 24px;
    filter: drop-shadow(0px 8px 20px #EA520229);
    background: #FFF1EA;
    box-shadow: inset 4px 4px 12px 0px #00000040;
}
.card-event-view{
    width: 159px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    padding: 8px 24px 8px 24px;
    filter: drop-shadow(0px 8px 20px #EA520229);
    background: #FFF1EA;
    box-shadow: inset 4px 4px 12px 0px #00000040;
}

.add-newevent-btn{
    width: 198px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    padding: 8px 24px 8px 24px;
    filter: drop-shadow(0px 8px 20px #EA520229);
    box-shadow: inset 4px 4px 12px 0px #00000040;
    background: linear-gradient(to right, #FD5900, #FFB48C);
    color:white
}




.list-img-event {
    width: 24px;
    height: 24px !important;
}

.sort-img-event {
    width: 24px;
    height: 24px !important;
}

.event-text {
    position: relative;
    right: 20rem;
}

.event-filter-layout {
    display: flex;
    width: 38px;
    height: 25px !important;
}

.footer-btn {
    display: flex;
    justify-content: space-between;
}

.btn-previous {
    width: 130px;
    height: 40px;
    border-radius: 8px;
    padding: 7px 11px;
    border: 1px solid #EAEAEA;
    background: #FFF1EA;
}

.event-card-container {
    max-width: 100%;
    height: 284px;
    display: flex;
    gap: 24px;
}

btn-close {
    --bs-btn-close-color: #000;
    --bs-btn-close-bg: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23000%27%3e%3cpath d=%27M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z%27/%3e%3c/svg%3e);
    --bs-btn-close-opacity: 0.5;
    --bs-btn-close-hover-opacity: 0.75;
    --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-btn-close-focus-opacity: 1;
    --bs-btn-close-disabled-opacity: 0.25;
    --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    border: none !important;
    padding: .25em .25em;
    color: var(--bs-btn-close-color);
    background: transparent var(--bs-btn-close-bg) center / 1em auto no-repeat;
    border-radius: .375rem;
    opacity: var(--bs-btn-close-opacity);
}

.event-card {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 284px;
    border-radius: 16px;
    border-bottom: 1px solid #ccc;
    padding: 16px;
    background-color: #FFFFFF;
}

.event-list-p {
    width: 70px;
    height: 24px;
}

.event-card-p {
    width: 73px;
    height: 24px;
}

.event-card-text {
    display: flex;
    justify-content: space-between;
}

.even-date-category {
    display: flex;
    justify-content: space-around;
}

.category-font {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #FD5900;
    background-color: #FFF1EA;
}

.category-font-b {
    background-color: #FFF1EA;
    width: 115px;
    height: 23px;
    border-radius: 8px;
    padding: 3px 8px;
}

.category-data {
    width: 141px;
    height: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.drag-model-input-img {
    width: 100%;
    height: 182px;
    border-radius: 8px;
    border: 2px dashed #ccc;
    /* Light gray border */
    padding: 24px;
    display: flex;
    /* Ensures proper centering */
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f9f9f9;
    /* Light background */
    cursor: pointer;
    /* Indicate interactivity */
    position: relative;
    overflow: hidden;
}

.drag-model-input-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.delete-image-icon {
    position: relative !important;
    left: 4rem !important;
}

.model-align-button {
    display: flex;
}

.model-delete-button {
    width: 213px;
    height: 48px;
    border-radius: 8px;
    padding: 9px 60px;
    background-color: #FD5900;
    border: 0px !important;
}

.model-close-button {
    width: 213px;
    height: 48px;
    border-radius: 8px;
    padding: 9px 60px;
    background-color: #EAEAEA;
    border: 0px !important;
}

.event-no-data {
    max-width: 100%;
    height: 207px;
}

@media (min-width: 320px) and (max-width: 375px) {
    .event-card {

        max-width: 100%;
        height: 284px;

    }

    .event-card-p {
        width: 73px;
        height: 24px;
        display: none;
    }

    .echo-event {
        width: 173px;
        height: 40px;
        gap: 6px;
        margin-top: 10px;
        position: relative;
        right: 1rem !important;
    }

    .search-contact-event {
        display: flex;
        justify-content: center;
        position: relative;
        left: 2rem;
    }

    .event-text {
        position: relative;
        right: 1rem;
    }

    .search-input {
        padding-left: 35px;
        height: 30px;
        width: 40px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .list-img-event {
        width: 24px;
        height: 24px !important;
    }

    .sort-img-event {
        width: 24px;
        height: 24px !important;
    }

    .event-list-p {
        display: none
    }

    .Event-side {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .contact-event {
        border-radius: 12px;
        padding: 15px 6px;
    }

    .model-close-button {
        width: 108px;
        height: 36px;
        border-radius: 8px;
        padding: 0px 36px;
        background-color: #EAEAEA;
        border: 0px !important;
    }

    .model-delete-button {
        width: 110px;
        height: 36px;
        border-radius: 8px;
        padding: 0px 40px;
        background-color: #FD5900;
        border: 0px !important;
    }

    .delete-image-icon {
        position: relative !important;
        left: 0rem !important;
    }

    .filter-event-btn{
        max-width: 40px;
        height: 40px;
        border-radius: 8px;
        border: 1px solid #EAEAEA;
        padding: 5px 16px 8px 8px;
        filter: drop-shadow(0px 8px 20px #EA520229);
        background: #FFF1EA !important;
        box-shadow: inset 4px 4px 12px 0px #00000040;
    }
    .card-event-view{
        max-width: 40px;
        height: 40px;
        border-radius: 8px;
        border: 1px solid #EAEAEA;
        padding: 5px 16px 8px 8px;
        filter: drop-shadow(0px 8px 20px #EA520229);
        background: #FFF1EA;
        box-shadow: inset 4px 4px 12px 0px #00000040;
    }
    .List-event-view{
        max-width: 40px;
        height: 40px;
        border-radius: 8px;
        border: 1px solid #EAEAEA;
        padding: 5px 16px 8px 8px;
        filter: drop-shadow(0px 8px 20px #EA520229);
        background: #FFF1EA;
        box-shadow: inset 4px 4px 12px 0px #00000040;
    }
    .card-event-view{
        width: 159px;
        height: 40px;
        border-radius: 8px;
        border: 1px solid #EAEAEA;
        padding: 5px 16px 8px 8px;
        filter: drop-shadow(0px 8px 20px #EA520229);
        background: #FFF1EA;
        box-shadow: inset 4px 4px 12px 0px #00000040;
    }
    
    .add-newevent-btn{
        max-width: 166px;
        height: 40px;
        border-radius: 8px;
        border: 1px solid #EAEAEA;
        padding: 8px 24px 8px 24px;
        filter: drop-shadow(0px 8px 20px #EA520229);
        box-shadow: inset 4px 4px 12px 0px #00000040;
        background: linear-gradient(to right, #FD5900, #FFB48C);
        color:white
    }
    .filter-text-ev{
        display: none;
    }
    .list-view-text-ev{
        display: none;
    }
    .card-view-text-ev{
        display: none;
    }
    .plus-icon{
        display: none;
    }
}

@media (min-width: 375px) and (max-width: 426px) {

    .event-card {

        max-width: 100%;
        height: 284px;

    }

    .echo-event {
        width: 173px;
        height: 40px;
        gap: 6px;
        margin-top: 10px;
        position: relative;
        right: 1rem;
    }

    .search-contact-event {
        display: flex;
        justify-content: center;
        position: relative;
        left: 2rem;
    }

    /* .event-text{
        position: relative;
        right: 1rem;
    }   */
    .search-input {
        padding-left: 35px;
        height: 30px;
        width: 40px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .event-card-p {
        width: 73px;
        height: 24px;
        display: none;
    }

    .list-img-event {
        width: 24px;
        height: 24px !important;
    }

    .sort-img-event {
        width: 24px;
        height: 24px !important;
    }

    .event-list-p {
        display: none
    }


    .Event-side {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .manage-button-add-edit-filter {
        display: flex;
    }

    .filter-event-button {
        display: none;
    }

    .contact-event {
        border-radius: 12px;
        padding: 15px 6px;
    }

    .model-close-button {
        width: 108px;
        height: 36px;
        border-radius: 8px;
        padding: 0px 36px;
        background-color: #EAEAEA;
        border: 0px !important;
    }

    .model-delete-button {
        width: 110px;
        height: 36px;
        border-radius: 8px;
        padding: 0px 40px;
        background-color: #FD5900;
        border: 0px !important;
    }

    .delete-image-icon {
        position: relative !important;
        left: 0rem !important;
    }

    .filter-event-btn{
        max-width: 40px;
        height: 40px;
        border-radius: 8px;
        border: 1px solid #EAEAEA;
        padding: 5px 16px 8px 8px;
        filter: drop-shadow(0px 8px 20px #EA520229);
        background: #FFF1EA !important;
        box-shadow: inset 4px 4px 12px 0px #00000040;
    }
    .List-event-view{
        max-width: 40px;
        height: 40px;
        border-radius: 8px;
        border: 1px solid #EAEAEA;
        padding: 5px 16px 8px 8px;
        filter: drop-shadow(0px 8px 20px #EA520229);
        background: #FFF1EA;
        box-shadow: inset 4px 4px 12px 0px #00000040;
    }
    .card-event-view{
        width: 40px;
        height: 40px;
        border-radius: 8px;
        border: 1px solid #EAEAEA;
        padding: 5px 16px 8px 8px;
        filter: drop-shadow(0px 8px 20px #EA520229);
        background: #FFF1EA;
        box-shadow: inset 4px 4px 12px 0px #00000040;
    }
    
    .add-newevent-btn{
        width: 166px;
        height: 40px;
        border-radius: 8px;
        border: 1px solid #EAEAEA;
        padding: 8px 24px 8px 24px;
        filter: drop-shadow(0px 8px 20px #EA520229);
        box-shadow: inset 4px 4px 12px 0px #00000040;
        background: linear-gradient(to right, #FD5900, #FFB48C);
        color:white
    }
    .filter-text-ev{
        display: none;
    }
    .list-view-text-ev{
        display: none;
    }
    .card-view-text-ev{
        display: none;
    }
    .plus-icon{
        display: none;
    }


}

@media (min-width: 426px) and (max-width: 576px) {

    .event-card {
        max-width: 100%;
        height: 284px;
    }

    .echo-event {
        width: 173px;
        height: 40px;
        gap: 6px;
        margin-top: 10px;
        position: relative;
        right: 1rem;
    }

    .search-contact-event {
        display: flex;
        justify-content: center;
        position: relative;
        left: 2rem;
    }
    .search-input {
        padding-left: 35px;
        height: 30px;
        width: 40px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .event-card-p {
        width: 73px;
        height: 24px;
        display: none;
    }

    .list-img-event {
        width: 24px;
        height: 24px !important;
    }

    .sort-img-event {
        width: 24px;
        height: 24px !important;
    }



    .event-list-p {
        display: none
    }

    .Event-side {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .manage-button-add-edit-filter {
        display: flex;
    }

    .filter-event-button {
        display: none;
    }

    .contact-event {
        border-radius: 12px;
        padding: 15px 6px;
    }

    .model-close-button {
        width: 108px;
        height: 36px;
        border-radius: 8px;
        padding: 0px 36px;
        background-color: #EAEAEA;
        border: 0px !important;
    }

    .model-delete-button {
        width: 110px;
        height: 36px;
        border-radius: 8px;
        padding: 0px 40px;
        background-color: #FD5900;
        border: 0px !important;
    }

    .delete-image-icon {
        position: relative !important;
        left: 0rem !important;
    }
       .plus-icon{
        display: none;
    } 


}

@media (min-width: 576px) and (max-width: 768px) {
    .Event-side {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .event-card-p {
        width: 73px;
        height: 24px;
        display: none;
    }

    .event-card {
        max-width: 100%;
        height: 284px;
    }

    .echo-event {
        width: 173px;
        height: 40px;
        gap: 6px;
        margin-top: 10px;
        position: relative;
        right: 8rem;
    }

    .search-contact-event {
        display: flex;
        justify-content: center;
        position: relative;
        left: 8rem;
    }


    .event-list-p {
        display: none
    }

    .search-input {
        padding-left: 35px;
        height: 30px;
        width: 40px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .list-img-event {
        width: 24px;
        height: 24px !important;
    }

    .sort-img-event {
        width: 24px;
        height: 24px !important;
    }

    vent-list-p {
        display: none
    }

    .Event-side {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .manage-button-add-edit-filter {
        display: flex;
    }

    .filter-event-button {
        display: none;
    }

    .contact-event {
        border-radius: 12px;
        padding: 15px 6px;
    }

    .model-close-button {
        width: 108px;
        height: 36px;
        border-radius: 8px;
        padding: 0px 36px;
        background-color: #EAEAEA;
        border: 0px !important;
    }

    .model-delete-button {
        width: 110px;
        height: 36px;
        border-radius: 8px;
        padding: 0px 40px;
        background-color: #FD5900;
        border: 0px !important;
    }

    .delete-image-icon {
        position: relative !important;
        left: 0rem !important;
    }
    .plus-icon{
        display: none;
    } 

}

@media (min-width: 769px) and (max-width: 992px) {
    .echo-event {
        width: 217px;
        height: 40px;
        gap: 6px;
        margin-top: 10px;
        position: relative;
        right: 7rem;
    }

    .event-card-p {
        width: 73px;
        height: 24px;
        display: none;
    }

    .search-contact-event {
        display: flex;
        justify-content: center;
        position: relative;
        left: 8rem;
    }

    /* .event-text{
        position: relative;
        right: 1rem;
    }     */

    .event-card {
        max-width: 100%;
        height: 221px;
    }
  .plus-icon{
        display: none;
    }


}

/* @media (min-width: 992px) and (max-width:1200px) {
    .echo-event {
        width: 173px;
        height: 40px;
        gap: 6px;
        margin-top: 10px;
        position: relative;
        right: 14rem;
    }

    .search-contact-event {
        display: flex;
        justify-content: center;
        position: relative;
        left: 15rem;
    }

    .event-card {

        width: 240px;
        height: 192px;

    }

    .event-card-p {
        width: 73px;
        height: 24px;
        display: none;
    }

   

   

} */